{{ form_start(form, {'attr': {'class': 'form-inline1'}}) }}


<div class="form-group">
    {{ form_row(form.title, { 'label': 'Title'|trans }) }}
</div>

<div class="form-group">
    {{ form_row(form.description, { 'label': 'Description'|trans, attr:{'placeholder': 'What needs to be done'|trans} }) }}
</div>

<div class="form-group">
    {{ form_row(form.uploadedFiles, { 'label': 'Files'|trans }) }}
</div>

<div class="form-group">
    {{ form_row(form.isPermanent, { 'label': 'Project type'|trans }) }}
</div>

<div class="form-group">
    {{ form_row(form.main_category, { 'label': 'Category'|trans }) }}
</div>

<div class="form-group">
    {{ form_row(form.category) }}
</div>


<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.salary, { 'label': 'Salary'|trans }) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.salaryCurrency, { 'label': ' ' }) }}
        </div>
        <div class="col-md-1">
            <br>  <br>
           {{'лил░'|trans}}
        </div>
        <div class="col-md-3">
            {{ form_row(form.salaryType, { 'label': ' ' }) }}
        </div>
    </div>
</div>



<div class="form-group form-check">
    <label class="form-check-label">
         {{'Confirm agree to'|trans}} <a href="{{ path('terms') }}"> {{'our Terms and conditions'|trans  }}</a>
         {{ form_row(form.agreeTerms, { 'label': false, 'class' : 'form-check-input' }) }}


    </label>
</div>




<button type="submit" class="btn btn-primary">Submit</button>


{{ form_end(form) }}
