{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

    <section class="dashboard section">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">

                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                    <!-- Recently Favorited -->
                    <div class="widget dashboard-container my-adslist">
                        <h1 class="widget-header">{{'Found Projects'|trans}}: {{ jobs.getTotalItemCount }} </h1>
                        <div class="count">
                        </div>
                        <table class="table table-responsive product-dashboard-table">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product Title</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for job in jobs %}
                            <tr>

                                <td class="product-thumb">
                                    <img width="80px" height="auto" src="/images/products/products-1.jpg" alt="image description"></td>
                                <td class="product-details">
                                    <h3 class="title"> {{ job.title }}</h3>
                                    <span class="add-id"><strong>Ad ID:</strong> ng3D5hAMHPajQrM</span>
                                    <span><strong>Posted on: </strong><time>{{ job.createdAt | date('d.m.Y') }}</time> </span>
                                    <span class="status active"><strong>Status</strong>Active</span>
                                    <span class="location"><strong>Author</strong>autor</span>
                                </td>
                                <td class="product-category"><span class="categories">Laptops</span></td>
                                <td class="action" data-title="Action">
                                    <div class="">
                                        <ul class="list-inline justify-content-center">
                                            <li class="list-inline-item">
                                                <a data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="view" href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="edit" href="">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="delete" href="">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- Pagination -->
                         {{ knp_pagination_render(jobs) }}

                    </div>
                </div>



                <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                    <div class="sidebar">
                        <!-- Search Widget -->
                        <div class="widget search p-0">
                            <div class="input-group">
                                <input type="text" class="form-control" id="expire" placeholder="Search...">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                        <!-- Category Widget -->
                        <div class="widget category">
                            <!-- Widget Header -->
                            <h5 class="widget-header">Categories</h5>
                            <ul class="category-list">
                                <li><a href="">Appearel <span class="float-right">(2)</span></a></li>
                                <li><a href="">Accesories <span class="float-right">(5)</span></a></li>
                                <li><a href="">Business<span class="float-right">(7)</span></a></li>
                                <li><a href="">Entertaiment<span class="float-right">(3)</span></a></li>
                                <li><a href="">Education<span class="float-right">(9)</span></a></li>
                            </ul>
                        </div>
                        <!-- Store Widget -->
                        <div class="widget related-store">
                            <!-- Widget Header -->
                            <h5 class="widget-header">Related Store</h5>
                            <ul class="store-list md list-inline">
                                <li class="list-inline-item">
                                    <a href=""><img src="images/popular-offer/populer-offer-02.png" alt="store-image"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><img src="images/popular-offer/populer-offer-03.png" alt="store-image"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><img src="images/popular-offer/populer-offer-04.png" alt="store-image"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><img src="images/popular-offer/populer-offer-05.png" alt="store-image"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><img src="images/popular-offer/populer-offer-06.png" alt="store-image"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><img src="images/popular-offer/populer-offer-07.png" alt="store-image"></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Archive Widget -->
                        <div class="widget archive">
                            <!-- Widget Header -->
                            <h5 class="widget-header">Archives</h5>
                            <ul class="archive-list">
                                <li><a href="">January 2017</a></li>
                                <li><a href="">February 2017</a></li>
                                <li><a href="">March 2017</a></li>
                                <li><a href="">April 2017</a></li>
                                <li><a href="">May 2017</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </section>


{% endblock %}