{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <section class="dashboard section">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">

                <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"/>

                <div class="col-lg-12">
                    <!-- Search Widget -->
                    <div class="widget search p-0">
                        <div class="input-group">
                            <form action="{{ path('job_index') }}" id="search-form" class="form-inline" method="get">

                                <input type="text"
                                       name="q"
                                       id="search_title"
                                       class="form-control"
                                       placeholder="{{ 'Search a project'|trans }}..."
                                       value="{{ app.request.get('q') }}"
                                       autocomplete="off"
                                       autofocus
                                       data-no-results-message="{{ 'post.search_no_results'|trans }}" >


                            </form>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12">
                    {{'Found Projects'|trans}}: <span id="show_count">{{ jobs.getTotalItemCount }}</span>
                </div>


                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                    <!-- Recently Favorited -->
                    <div class="widget dashboard-container my-adslist">

                        <table class="table table-responsive job-dashboard-table">

                            <tbody>

                            {{ include('/job/search.ajax.twig') }}


                            </tbody>
                        </table>
                        <!-- Pagination -->
                         {{ knp_pagination_render(jobs) }}

                    </div>
                </div>



                <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                    <div class="sidebar">

                        <!--Filter Widget -->
                        <div class="widget category">
                            <!-- Widget Header -->
                            <h5 class="widget-header">{{'Filters'|trans}}</h5>

                            {{ form_start(form, {'method': 'get', 'attr': {'action': path('job_index')} }) }}



                            <div class="form-group">
                                {{ form_row(form.isPermanent, { 'label': 'Project type'|trans,  'value' :   app.request.get('job_type_search') ['isPermanent'] ?? '' }) }}
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">

                                        {{ form_row(form.salary_from, { attr:{'placeholder': 'From'|trans} , 'label': 'Salary'|trans,  'value' :   app.request.get('job_type_search') ['salary_from'] ?? ''  }) }}
                                    </div>
                                    <div class="col-md-4">

                                        {{ form_row(form.salary_to, { attr:{'placeholder': 'To'|trans} , 'label': 'Salary'|trans,  'value' :   app.request.get('job_type_search') ['salary_to'] ?? ''  }) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(form.salaryCurrency, { 'value': app.request.get('job_type_search')['salaryCurrency'] ?? "0" , 'label': 'Currency'|trans}) }}
                                    </div>


                                </div>
                            </div>


                            <div class="form-group">
                                <ul class="category-list">
                                    <label>{{'Categories'|trans}}:</label>
                                    {% for key,cat in cats %}
                                    <li>

                                         <input  id="cat_{{key}}"  type="checkbox" style="vertical-align: -2px;" name="search_category[]" {% if key in app.request.get('search_category') %} checked {% endif %}  value="{{key}}">
                                         <label for="cat_{{key}}"> <a data-toggle="collapse" href="#collapse_{{ key }}" role="button" aria-expanded="false" aria-controls="">{{ cat[key] }} <span class="float-right"></span></a>
                                         </label>
                                    </li>

                                    <div class="collapse" id="collapse_{{ key }}">
                                        <div class="card card-body">
                                        {% for subkey,subcat in cat|slice(1,100,true) %}
                                            <label>  <input type="checkbox"  name="search_category[]" value="{{subkey}}" {% if subkey in app.request.get('search_category') %} checked {% endif %} }}> {{subkey}}  {{subcat}} </label>
                                        {% endfor %}
                                        </div>
                                    </div>

                                    {% endfor %}


                                </ul>

                            </div>

                            <button type="submit" class="btn btn-primary">{{'Filter'|trans}}</button>
                            <a href="{{ path('job_index') }}" class="btn btn-default">{{'Clear filters'|trans}}</a>

                            {{ form_end(form) }}

                        </div>


                    </div>
                </div>


            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        jQuery(document).ready(function($){

            $('#search-form').keyup(function(e){


                var input=$('#search_title').val();
                if (input.length>0) {
                    var insert_results= $('.job-dashboard-table tbody');
                    var show_count= $('#show_count');
                    insert_results.html("");
                    show_count.html("");
                    var url = '{{ path("job_search", {'search': 'input'}) }}';
                    url = url.replace("input", input);
                    $.get(url, function (data, textStatus, xhr) {
                        data.count===0 ?show_count.html(0) : show_count.html(data.count);

                        if ("object" !== typeof data || null === data) {
                            console.log("Unexpected response from server.");
                            return;
                        }

                        if (!data.hasOwnProperty("html") || typeof data.html != "string" || (data.html = data.html.trim()).length < 1) {
                            return;
                        }

                        insert_results.html(data.html);


                    }).fail(function (xhr, textStatus, errorThrown) {

                        var error = "Unknown error occurred.";
                        if ("object" === typeof xhr && null !== xhr && xhr.hasOwnProperty("responseJSON") && "object" === typeof xhr.responseJSON && xhr.responseJSON.hasOwnProperty("error") && "string" === typeof xhr.responseJSON.error && xhr.responseJSON.error.trim().length >= 1) {
                            error = xhr.responseJSON.error.trim();
                        } else if ("string" === typeof errorThrown && errorThrown.trim().length >= 1) {
                            error = errorThrown.trim();
                        }

                        console.log(error);

                    });
                }

            });

            $("#accordion").accordion({
                'collapsible': true,
                'active': null,
                'heightStyle': 'content'
            });
            $('.jquery').each(function () {
                eval($(this).html());
            });
            $('.button').button();

        });
     </script>


{% endblock %}

