{% extends 'base.html.twig' %}

{% block title %}{{'New project'|trans }}{% endblock %}

{% block body %}


    <section class="user-profile section">
        <div class="container">
            <div class="row">

                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">

                    <div class="widget personal-info">
                        <h1 class="widget-header user">{{'Create a new project'|trans }}</h1>
                        {{ include('job/_form.html.twig') }}

                    </div>

                </div>

                <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                    <div class="sidebar">

                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var catSelect = $("#job_category");
            var selectedCat = $("#job_main_category").val();
            if (selectedCat===''){
                catSelect.html('').css('display','none');
            }

            $('#job_main_category').change(function () {
            var selector = $(this);

            $.ajax({
                url: "{{ path('get_subcategories') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    id: selector.val()
                },
                success: function (cats) {



                    // Remove current options
                    catSelect.html('').css('display','block');

                    // Empty value ...
                    //catSelect.append('<option value> </option>');

                    $.each(cats, function (key, cat) {
                        catSelect.append('<option value="' + cat.id + '">' + cat.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });
        });
    </script>

    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
{% endblock %}

