{% extends 'base.html.twig' %}

{% block title %}{{'Job details'|trans}} - {{ job.title }} {% endblock %}

{% block body %}

    <section class="section bg-gray">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <!-- Left sidebar -->
                <div class="col-md-8">
                    <div class="product-details">
                        <h1 class="product-title">{{ job.title }}</h1>
                        <div class="product-meta">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-user-o"></i> {{'Author'|trans}} <a href="">{{ job.user.email }}</a></li>
                                <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> {{'Category'|trans}} <a href="">{{ job.category.getLocalizedTitle() }} </a></li>
                                <li class="list-inline-item"><i class="fa fa-location-arrow"></i> {{'Project type'|trans}} <a href="">{{ job.getIsPermanent() }} </a></li>
                            </ul>
                        </div>
                        <div class="content">
                            <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">

                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <h3 class="tab-title"> {{'Project Details'|trans}} </h3>
                                    <p>
                                        {{ job.description }}
                                    </p>

                                    <h3 class="tab-title"> {{'Applications'|trans}} </h3>
                                    <div class="product-review">
                                        <div class="media">
                                            <!-- Avater -->
{#
                                            <img src="images/user/user-thumb.jpg" alt="avater">
#}
                                            <div class="media-body">
                                                <!-- Ratings -->
                                             {#   <div class="ratings">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                    </ul>
                                                </div>#}
                                                <div class="name">
                                                    <h5>Jessica Brown</h5>
                                                </div>
                                                <div class="date">
                                                    <p>Mar 20, 2018</p>
                                                </div>
                                                <div class="review-comment">
                                                    <p>
                                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqe laudant tota rem ape riamipsa eaque.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-submission">
                                            <h3 class="tab-title"> {{'Submit your Apply'|trans}} </h3>
                                            <!-- Rate -->
                                            <div class="rate">
                                                <div class="starrr"></div>
                                            </div>
                                            <div class="review-submit">
                                                {{ form_start(form, {'action': path('save_application'),'attr': {'class': ''}}) }}

                                                <div class="form-group">
                                                    {{ form_row(form.message, { 'label': 'Message'|trans }) }}
                                                </div>

                                                <button type="submit" class="btn btn-primary">{{'Submit'|trans}}</button>


                                                {{ form_end(form) }}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <div class="widget price text-center">
                            <h4>{{'Price'|trans}}</h4>
                            <p>{{ job.salary }} {{ job.salaryCurrency }} <br> {{'per'|trans}} {{ job.salaryType}} </p>
                        </div>
                        <!-- User Profile widget -->
                        <div class="widget user">
                            <img class="rounded-circle" src="images/user/user-thumb.jpg" alt="">
                            <h4><a href="">{{ job.user.email }}</a></h4>
                            <p class="member-time">{{'Member Since'|trans}}  Jun 27, 2017</p>
                            <a href=""></a>
                            <ul class="list-inline mt-20">
                                <li class="list-inline-item"><a href="" class="btn btn-contact">{{'Contact'|trans}} </a></li>
                            </ul>
                        </div>
                        <!-- Map Widget -->
                        <div class="widget map">
                            <div class="map">
                                <div id="map"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- Container End -->
    </section>
{% endblock %}


