{% extends 'base.html.twig' %}

{% block title %}{{'Job search'|trans }}{% endblock %}

{% block body %}
<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <h1>{{'main_slogan'|trans }}</h1>
                    <p>{{'second_slogan'|trans }}</p>
                    <div class="short-popular-category-list text-center">
                        <h2>{{'Popular Category'|trans }}</h2>
                        <ul class="list-inline">

                            {% for key,cat in cats|slice(0,5,true) %}
                            <li class="list-inline-item">
                                <a href="{{ path('job_index', {search_main_category: key} )  }}">
                                  {#  <i class="fa fa-arrow-right"></i> #}

                                    {{cat[key]}}</a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>

                </div>
                <!-- Advance Search -->
                <div class="advance-search">
                    <form action="{{ path('job_index')  }}">
                        <div class="row">
                            <!-- Store Search -->
                            <div class="col-lg-10 col-md-12">
                                <div class="block d-flex">
                                    <input type="text" name="q" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" placeholder="{{'project'|trans }}">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-12">
                                <div class="block d-flex">
                                    <!-- Search Button -->
                                    <button class="btn btn-main">{{'SEARCH'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Top section            =
============================================-->

<section class="popular-deals section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>{{ 'Top projects'|trans }}</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- offer 01 -->
            {% for job in top_projects %}
            <div class="col-sm-12 col-lg-4">
                <!-- product card -->
                <div class="product-item bg-light">
                    <div class="card">
                        <div class="thumb-content">
                             <div class="price">${{job.salary}}</div>
                           {# <a href="">
                                <img class="card-img-top img-fluid" src="/images/products/products-1.jpg" alt="Card image cap">
                            </a>#}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="">{{ job.title }}</a></h4>
                            <ul class="list-inline product-meta">
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-folder-open-o"></i>{{ job.category.getLocalizedTitle }}</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-calendar"></i>{{ job.createdAt |ago }}</a>
                                </li>
                            </ul>
                            <p class="card-text">{{ job.description|truncate(100, true)  }}</p>
                            <p class="card-text"><b>
                                    <a href='{{ path('job_show', {id: job.id} )  }}'>{{ 'Details'|trans }}>></a>
                                </b> </p>
                         {#   <div class="product-ratings">
                                <ul class="list-inline">
                                    <li class="list-inline-item selected"><i style="color:yellow;" class="fa fa-star"></i></li>
                                    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                </ul>
                            </div>#}
                        </div>
                    </div>
                </div>



            </div>
            {% endfor %}


        </div>
    </div>
</section>



<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>{{'Projects by categories'|trans }}</h2>
                    <p></p>
                </div>
                <div class="row">
                    <!-- Category list -->

                    {% for key,cat in cats %}
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                <h4><a href="{{ path('job_index', {search_main_category: key} )  }}"> {{ cat[key] }} </a></h4>
                            </div>
                            <ul class="category-list" >
                                {% for subkey,subcat in cat|slice(1,5,true) %}
                                <li><a href="{{ path('job_index', {search_category: subkey} )  }}"> {{subcat}} <span></span></a></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    {% endfor %}




                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

{% endblock %}


{#
<i class="fas fa-laptop-code"></i>
<i class="fas fa-laptop"></i>
<i class="fas fa-share-alt-square"></i>


<i class="fas fa-text-width"></i>
<i class="fas fa-video"></i>
<i class="fas fa-ad"></i>
<i class="fas fa-network-wired"></i>

<i class="fas fa-graduation-cap"></i>
<i class="fas fa-tasks"></i>

<i class="fas fa-cube"></i>

<i class="fas fa-mobile-alt"></i>
<i class="fas fa-business-time"></i>
<i class="fas fa-building"></i>
<i class="fas fa-photo-video"></i>#}
